<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Login{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <div class="container">
            <a href="{% url 'home' %}">
                <img src="{% static 'home/img/logo_sem_fundo.png' %}" alt="Logo Solidarize" class="logo">
            </a>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Cadastro</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Conteúdo -->
    <main>
        {% block content %}
    <h1>Página de Login</h1>

    <!-- Se houver mensagens de erro -->
    {% if form.errors %}
        <div style="color: red;">
            <p>Por favor, corrija os erros abaixo:</p>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button>
    </form>

    <p>Não tem uma conta? <a href="{% url 'register' %}">Registre-se aqui</a></p>

    {% endblock %}
    </main>

    <!-- Rodapé -->
    <footer>
        <p>&copy; 2024 Solidarize. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
